<html ng-app="listaTelefonica">
<head>
	<meta charset="UTF-8"></meta>
	<title>Hello World</title>
	<link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
	<style>
		.jumbotron {
			width: 400px;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
			margin-top: 20px;
		}

		.table {
			margin-top: 20px;
		}
		.form-control{
			margin-top: 20px;
		}
		.selecionado{
			background-color: yellow;
		}
	</style>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-messages.js"></script>

	<script>
		// registrando um modulo
		angular.module("listaTelefonica", ["ngMessages"]);
		angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
			// scope faz a ponte entre controller e view


			$scope.app = "Lista Telefonica";
			$scope.contatos = [
				{nome: "Pedro", telefone: "9996767", cor: "blue"},
				{nome: "Joao", telefone: "99945452", cor: "yellow"},
				{nome: "Lima", telefone: "99992323", cor: "red"}
			];

			$scope.operadoras = [
				{nome: "oi", 		codigo: 1, categoria: "Celular"},
				{nome: "vivo", 		codigo: 2, categoria: "Celular"},
				{nome: "claro", 	codigo: 3, categoria: "Celular"},
				{nome: "GVT", 		codigo: 4, categoria: "Fixo"},
				{nome: "Embratel", 	codigo: 5, categoria: "Fixo"},
			];

			$scope.classe = "selecionado";

			$scope.adicionarContato = function(contato){
				$scope.contatos.push(angular.copy(contato));
				delete $scope.contato;
				$scope.contatoForm.$setPristine();
			};

			$scope.apagarContato = function(contatos){

				// subtitui o array original pela filtragem dos nao selecionados
				$scope.contatos = contatos.filter(function(contato){
					if (!contato.selecionado) return contato;
				});
			};

			$scope.isContatoSelecionado = function(contatos){
				// se um dos contatos do array for true volta true
				return contatos.some(function(contato){
					return contato.selecionado;
				});
			};
		});
	</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h4> {{ app }} </h4>
		<table class="table" ng-show="contatos.length > 0">
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Telefone</th>
				<th>Operadora</th>
				<th></th>
			</tr>

			<tr ng-class="{selecionado: contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td> {{contato.nome}} </td>
				<td> {{contato.telefone}} </td>
				<td> {{contato.operadora.codigo}} </td>
				<td style="width:20px;height:20px;" ng-style="{'background':contato.cor}"></td>
			</tr>
		</table>
		<hr>
		<form name="contatoForm">

			<input class="form-control" type="text" ng-model="contato.nome" name="nome" placeholder="Nome" ng-required="true" ng-minlength="10"/>
			<input class="form-control" type="text" ng-model="contato.telefone" name="telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="contato.operadora" ng-options="operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>
			
			<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar contato</button>		
	<!--
		utilizando ng-if 
	-->
			<button class="btn btn-danger btn-block" ng-click="apagarContato(contatos)" 
			ng-if="isContatoSelecionado(contatos)">Apagar contatos</button>

		</form>

		<div ng-messages="contatoForm.nome.$error" class="alert alert-danger">
			<div ng-message="required">
				Por favor, preencha o campo nome!	
			</div>
			<div ng-message="minlength">
				O campo deve ter no minimo 10 caracteres.
			</div>
		</div>

		<!-- sera mostrado a mensagem quando o contatoForm for $invalid-->
		<div ng-show="contatoForm.telefone.$error.required && contatoForm.telefone.$dirty" class="alert alert-danger">
			Por favor, preencha campo telefone!
		</div>



		<div ng-show="contatoForm.telefone.$error.pattern" class="alert alert-danger">
			O campo telefone deve ter o formato xxxx-xxxx!
		</div>

	</div>

	<div ng-include="'footer.html'"></div>
</body>
</html>


<!--


validacao de formulario | direitvas de validações
	- ng-required
	- $invalid
	- $valid
	- pristine
	- dirty
	- ngMinlength
	- gnMaxlength
	- error
	- ng-pattern



	expressao utilizada para telefone
	ng-pattern="/^\d{4,5}-\d{4}$/"

-->